<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
